# Global settings
APP_LOG_LEVEL=info
METRICS_HTTP_PORT=9100

# Image Generator (App 1)
IMAGE_GENERATOR_INPUT_DIR=./data/images
IMAGE_GENERATOR_LOOP_DELAY_MS=100
IMAGE_GENERATOR_PUB_ENDPOINT=tcp://127.0.0.1:5555
IMAGE_GENERATOR_HEARTBEAT_MS=2000

# Feature Extractor (App 2)
FEATURE_EXTRACTOR_SUB_ENDPOINT=tcp://127.0.0.1:5555
FEATURE_EXTRACTOR_PUB_ENDPOINT=tcp://127.0.0.1:5556
FEATURE_EXTRACTOR_SIFT_N_FEATURES=0
FEATURE_EXTRACTOR_SIFT_CONTRAST_THRESHOLD=0.04
FEATURE_EXTRACTOR_SIFT_EDGE_THRESHOLD=10

# Data Logger (App 3)
DATA_LOGGER_SUB_ENDPOINT=tcp://127.0.0.1:5556
DATA_LOGGER_DB_PATH=./storage/dist_imaging.sqlite
DATA_LOGGER_RAW_IMAGE_DIR=./storage/raw_frames
DATA_LOGGER_PRUNE_DAYS=30

